services:
  # API GATEWAY - Public
  api-gateway:
    image: minhtri269/snms-api-gateway:dev-latest
    container_name: snms-gateway-dev
    ports:
      - "8000:8000"
    volumes:
      - ../../backend/api-gateway:/app
      - gateway_bin:/app/bin
      - gateway_obj:/app/obj
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8000
      DOTNET_USE_POLLING_FILE_WATCHER: "true"
      DOTNET_WATCH_RESTART_ON_RUDE_EDIT: "true"
    command: dotnet watch --project api-gateway.csproj run --no-launch-profile
    depends_on:
      - user-service
      - social-service
      - redis
    deploy:
      resources:
        limits:
          cpus: 1
          memory: 512MB
        reservations:
          cpus: 0.5
          memory: 256MB
    networks:
      - snms-network
    restart: unless-stopped

  #  USER SERVICE - Internal
  user-service:
    image: minhtri269/snms-user-service:dev-latest
    container_name: snms-user-dev
    expose:
      - "8081"
    volumes:
      - ../../backend/user-service:/app
      - user_bin:/app/bin
      - user_obj:/app/obj
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8081
      DOTNET_USE_POLLING_FILE_WATCHER: "true"
      DOTNET_WATCH_RESTART_ON_RUDE_EDIT: "true"
    command: dotnet watch --project user-service.csproj run --no-launch-profile
    depends_on:
      - sqlserver
      - redis
    networks:
      - snms-network
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 512MB
        reservations:
          cpus: 0.25
          memory: 256MB
    restart: unless-stopped

  # SOCIAL SERVICE - Internal
  social-service:
    image: minhtri269/snms-social-service:dev-latest
    container_name: snms-social-dev
    expose:
      - "8082"
    volumes:
      - ../../backend/social-service:/app
      - social_bin:/app/bin
      - social_obj:/app/obj
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8082
      DOTNET_USE_POLLING_FILE_WATCHER: "true"
      DOTNET_WATCH_RESTART_ON_RUDE_EDIT: "true"
    command: dotnet watch --project social-service.csproj run --no-launch-profile
    depends_on:
      - sqlserver
      - redis
    networks:
      - snms-network
    deploy:
      resources:
        limits:
          cpus: 0.5
          memory: 512MB
        reservations:
          cpus: 0.25
          memory: 256MB
    restart: unless-stopped

  # REDIS - Cache 
  redis:
    image: redis:7-alpine
    container_name: snms-redis-dev
    ports:
      - "6379:6379"          
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    networks:
      - snms-network
    deploy:
      resources:
        limits:
          cpus: 0.25
          memory: 256MB
        reservations:
          cpus: 0.25
          memory: 128MB
    restart: unless-stopped

  # Database: SQL Server
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver_dev
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "P@sswordDatabase123"
      MSSQL_PID: "Developer"
      TZ: Asia/Ho_Chi_Mi
    ports:
      - "1433:1433"   
    volumes:
      - sqlserver_data:/var/opt/mssql
    networks:
      - snms-network
    restart: unless-stopped
#=============================================================
networks:
  snms-network:
    driver: bridge
    name: snms-dev-network

volumes:
  gateway_bin:
  gateway_obj:
  user_bin:
  user_obj:
  social_bin:
  social_obj:
  redis_data:
  sqlserver_data: